<%
  current_model = model_name.constantize
  columns.each do |column|
%>
  <div class="group">
    <%%= f.label :<%= column.name %>, t_attr(:<%= column.name %>), :class => :label %>
    <%-
      column_name = column.name.sub(/_id$/, '')
      reflection = current_model.reflect_on_association(column_name.to_sym)
      if reflection && !reflection.options[:polymorphic]
    -%>
        <%%= f.select :<%= column.name %>, <%= reflection.klass.name %>.all.map{ |e| [e, e.id] }, :include_blank => true, :class => 'select' %>
    <%-
      else
    -%>
        <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
    <%-
      end
    -%>
    <span class="description">Ex: a simple text</span>
  </div>
<%- end -%>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%%= content_tag(:span, t_wat(:save), :class => 'button_left link_save') + content_tag(:span, t_wat(:save), :class => 'button_right') %>
  </button>
  <span class="text_button_padding"><%%= t_wat(:or) %></span>
  <%%= link_to content_tag(:span, t_wat(:cancel), :class => 'button_left link_cancel') + content_tag(:span, t_wat(:cancel), :class => 'button_right'), <%= controller_routing_path %>_path, :class => "button" %>
</div>
