<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first"><%%= link_to "#{t("web-app-theme.list", :default => "List")}", <%= controller_routing_path %>_path  %></li>
      <li><%%= link_to "#{t("web-app-theme.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path %></li>
      <li class="active"><%%= link_to "#{t("web-app-theme.show", :default => "Show")}", <%= singular_controller_routing_path %>_path %></li>
    </ul>
  </div>
  <div class="content">
    <div class="inner">
      <%-
        current_model = model_name.constantize
        columns.each do |column|
      -%>
        <p>
          <b><%%= t("activerecord.attributes.<%= model_name.underscore %>.<%= column.name %>", :default => t("activerecord.labels.<%= column.name %>", :default => "<%= column.name.humanize %>")).sub(/_id$/, '') %>:</b>
        <%-
          column_name = column.name.sub(/_id$/, '')
          reflection = current_model.reflect_on_association(column_name.to_sym)
          if reflection
          reference_class_name = reflection.klass.name.underscore.gsub(/\//, '_')
        -%>
            <td>
              <%%= link_to @<%= resource_name %>.<%= column_name %>, <%= reference_class_name %>_path(@<%= resource_name %>.<%= column_name %>) %>
            </td>
        <%-
          else
        -%>
            <td>
              <%%= @<%= resource_name %>.<%= column_name %> %>
            </td>
        <%-
          end
        -%>
        </p>
      <%- end -%>
      <div class="wat-cf">
        <%%= link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), :class => "button" %>
        <%%= link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), <%= singular_controller_routing_path %>_path(@<%= resource_name %>), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
      </div>
    </div>
  </div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>
