<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><%%= link_to "#{t("web-app-theme.list", :default => "List")}", <%= controller_routing_path %>_path  %></li>
      <li><%%= link_to "#{t("web-app-theme.new", :default => "New")}", new_<%= singular_controller_routing_path %>_path %></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%%= t("web-app-theme.all", :default => "All")  %> <%= plural_model_name %></h2>
    <div class="inner">
      <table class="table">
        <tr>
          <th class="first">Id</th>
          <%- columns.each do |column| -%>
            <th>
              <%%= t("activerecord.attributes.<%= model_name.underscore %>.<%= column.name %>", :default => t("activerecord.labels.<%= column.name %>", :default => "<%= column.name.capitalize %>")).sub(/_id$/, '') %>
            </th>
          <%- end -%>
          <th class="last">&nbsp;</th>
        </tr>
        <%% @<%= plural_resource_name %>.each do |<%= resource_name %>| -%>
        <tr class="<%%= cycle("odd", "even") %>">
          <td class="first">
            <%%= link_to <%= resource_name %>.id, <%= singular_controller_routing_path %>_path(<%= resource_name %>) %>
          </td>
          <%-
            current_model = model_name.constantize
            columns.each do |column|
              column_name = column.name.sub(/_id$/, '')
              reflection = current_model.reflect_on_association(column_name.to_sym)
              if reflection && !reflection.options[:polymorphic]
                reference_class_name = reflection.klass.name.underscore.gsub(/\//, '_')
          -%>
                <td>
                  <%%= link_to <%= resource_name %>.<%= column_name %>, <%= reference_class_name %>_path(<%= resource_name %>.<%= column_name %>) %>
                </td>
          <%-
              else
          -%>
                <td>
                  <%%= <%= resource_name %>.<%= column_name %> %>
                </td>
          <%-
              end
          -%>
          <%- end -%>
          <td class="last">
            <%%= link_to "#{t("web-app-theme.show", :default => "Show")}", <%= singular_controller_routing_path %>_path(<%= resource_name %>) %> |
            <%%= link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_<%= singular_controller_routing_path %>_path(<%= resource_name %>) %> |
            <%%= link_to "#{t("web-app-theme.delete", :default => "Delete")}", <%= singular_controller_routing_path %>_path(<%= resource_name %>), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
          </td>
        </tr>
        <%% end -%>
      </table>
      <div class="actions-bar wat-cf">
        <div class="actions">
        </div>
        <% if options.paginate %>
        <%%= paginate @<%= plural_resource_name %>  %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>
