<div class="block">
  <div class="secondary-navigation">
    <ul class="wat-cf">
    <%%-
      nav_parcel = navigation_parcel
      if nav_parcel != nil
    -%>
    <%%= render(:partial => nav_parcel, :object => @<%= resource_name %>, :locals => {:action => :show}) %>
    <%%-
      else
    -%>
        <li class="first"><%%= link_to t_wat(:list), <%= controller_routing_path %>_path  %></li>
        <li><%%= link_to t_wat(:new), new_<%= singular_controller_routing_path %>_path %></li>
        <li class="active"><%%= link_to t_wat(:show), <%= singular_controller_routing_path %>_path %></li>
    <%%-
      end
    -%>
    </ul>
  </div>
  <div class="content">
    <h2 class="title"><%%= t_wat(:show) %> <%%= t_klass %></h2>
    <div class="inner">
      <%-
        current_model = model_name.constantize
        columns.each do |column|
      -%>
        <p>
          <b><%%= t_attr(:<%= column.name %>) %>:</b>
        <%-
          column_name = column.name.sub(/_id$/, '')
          reflection = current_model.reflect_on_association(column_name.to_sym)
          if reflection && !reflection.options[:polymorphic]
            reference_class_name = reflection.klass.name.underscore.gsub(/\//, '_')
        -%>
            <td>
              <%%=
                if @<%= resource_name %>.<%= column_name %> then
                  link_to @<%= resource_name %>.<%= column_name %>, <%= reference_class_name %>_path(@<%= resource_name %>.<%= column_name %>)
                else
                  @<%= resource_name %>.<%= column_name %>
                end
              %>
            </td>
        <%-
          else
        -%>
            <td>
              <%%= @<%= resource_name %>.<%= column_name %> %>
            </td>
        <%-
          end
        -%>
        </p>
      <%- end -%>
      <div class="wat-cf">
        <%%= link_to content_tag(:span, t_wat(:edit), :class => 'button link_edit'), edit_<%= singular_controller_routing_path %>_path(@<%= resource_name %>), :class => "button" %>
        <%%= link_to content_tag(:span, t_wat(:delete), :class => 'button link_delete'), <%= singular_controller_routing_path %>_path(@<%= resource_name %>), :method => "delete", :class => "button", :data => {:confirm => t_wat(:confirm)} %>
      </div>
    </div>
  </div>
</div>

<%% content_for :sidebar, render(:partial => 'sidebar') -%>
