<%
  current_model = model_name.constantize
  columns.each do |column|
%>
  <div class="group <%= column.name %>">
    <%%= f.label :<%= column.name %>, t_attr(:<%= column.name %>), :class => :label %>
    <%-
      column_name = column.name.sub(/_id$/, '')
      reflection = current_model.reflect_on_association(column_name.to_sym)
      if reflection && !reflection.options[:polymorphic]
    -%>
        <%%= f.select :<%= column.name %>, <%= reflection.klass.name %>.all.map{ |e| [e, e.id] }, :include_blank => true, :class => 'select' %>
    <%-
      else
    -%>
        <%%= f.<%= column.field_type %> :<%= column.name %>, :class => '<%= column.field_type %>' %>
    <%-
      end
    -%>
    <%%-
      column_desc = t_attr_desc(:<%= column.name %>)
      if column_desc
    -%>
    <%%= content_tag(:span, column_desc, :class => 'description') %>
    <%%-
      end
    -%>
  </div>
<%- end -%>
<div class="group navform wat-cf">
  <button class="button save" type="submit">
    <%%= content_tag(:span, t_wat(:save), :class => 'left') + content_tag(:span, t_wat(:save), :class => 'right') %>
  </button>
  <span class="text_button_padding"><%%= t_wat(:or) %></span>
  <%%= link_to (content_tag(:span, t_wat(:cancel), :class => 'left') + content_tag(:span, t_wat(:cancel), :class => 'right')), <%= controller_routing_path %>_path, :class => "button cancel" %>
</div>
